@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;600;700&display=swap');

.projects-container {
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 80px 0;
}

.project-container {
    z-index: 10;
    width: 450px;
    height: 600px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.contain-img {
    overflow: hidden;
}

.project-container img{
    transition: all 600ms ease-out;
}

.project-container img:hover{
    transform: scale(1.2) rotate(1deg);
}

.info {
    display: flex;
    flex-direction: column;
    color: black;
}

.project-title {
    box-sizing: border-box;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    padding: 15px;
}

.technologies {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: rgb(106, 190, 205);
    margin-bottom: 10px;
}

.framework:nth-child(1) {
    color: rgb(62, 84, 163);
}

.framework:nth-child(2) {
    color: rgb(170, 215, 66);
}

.framework:nth-child(3) {
    color: rgb(207, 99, 144);
}

.framework {
    transition: all 600ms ease-in-out;
}

.framework:hover {
    transform: scale(1.1);
}

.description {
    height: 150px;
    padding: 5px 10px;
    text-align: justify;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    border: 1px solid #0002;
    border-radius: 5px;
}

.redirect {
    color: #000;
    display: flex;
    justify-content: space-around;
}

.btn-red {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgb(170, 215, 66);
}

.btn-red:first-child {
    color: #fff;
    background-color: #333;
}

.url:hover {
    color: rgb(170, 215, 66);
    background-color: transparent;
    border: 1px solid rgb(170, 215, 66);
}

.git:hover {
    color: #333;
    border: 1px solid #333;
    background-color: transparent;
}

@media screen and (max-width: 700px) {
    .project-container {
        margin-top: 70px;
        width: 80%;
    }
}