/*  Box Style*/

.box-grid {
    display: grid;
    color: #000;
    justify-items: center;
    padding-top: 30px;
    height: 400px;
    grid-template-columns: repeat(4,1fr);
}

.box-main {
    justify-items: stretch;
    place-content: center;
    box-sizing: border-box;
    width: 400px;
    height: 200px;
    margin: 180px 0 15px 0;
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 20px 20px 57px #bebebe,
        -20px -20px 57px #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 15px;
    justify-items: center;
    transition: all 600ms ease-out;
}

.box-main:hover {
    transform: translateX(-15px) translateY(-20px);
}

.frame-title {
    padding: 10px;
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.frame-icon {
    font-size: 100px;
    grid-row-start: 2;
    grid-row-end: 5;
}

.pointer {
    width: 180px;
    height: 30px;
    background-color: #dcdcdc;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

.point {
    width: 20px;
    height: 20px;
    background-color: #bcbcbc;
    border-radius: 50%;
    border: 1px solid #919191;
}

.point.active {
    width: 20px;
    height: 20px;
    background-color: #bcddbc;
    border-radius: 50%;
    border: 1px solid #91bb91;
}

.section-title {
    color: #000;
    font-size: 50px;
    width: 100vh;
    margin: auto auto;
    display: inline-block;
    overflow-x: hidden;
}

.S {
    display: inline;
    font-weight: bold;
}

::-webkit-scrollbar {
    scroll-behavior: smooth;
}


@media screen and (max-width: 1320px) {

    .box-main {
        width: 300px;
        height: 400px;
    }

    .box-grid{
        height: 550px;
    }

    .box-grid {
        display: flex;
        color: #000;
        justify-items: center;
        padding-top: 30px;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .frame-title {
        font-size: 30px;
    }

    .frame-icon {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .skills {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: 15px;
        font-size: 20px;
    }

    .pointer {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
