/*  Box Style*/

.box-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    color: #000;
    justify-items: center;
    padding-top: 30px;
}

.box-main {
    justify-items: stretch;
    place-content: center;
    box-sizing: border-box;
    width: 400px;
    height: 200px;
    margin: 180px 0 15px 0;
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 20px 20px 57px #bebebe,
        -20px -20px 57px #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 15px;
    justify-items: center;
    transition: all 600ms ease-out;
}

.box-main:hover {
    transform: translateX(-15px) translateY(-20px);
    box-shadow: 5px 5px 32px #525252,
        -5px -5px 32px #ffffff;
}

.frame-title {
    padding: 10px;
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.frame-icon {
    font-size: 100px;
    grid-row-start: 2;
    grid-row-end: 5;
}

.pointer{
    width: 180px;
    height: 30px;
    background-color: #dcdcdc;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

.point {
    width: 20px;
    height: 20px;
    background-color: #bcbcbc;
    border-radius: 50%;
    border: 1px solid #919191;
}

.point.active {
    width: 20px;
    height: 20px;
    background-color: #bcddbc;
    border-radius: 50%;
    border: 1px solid #91bb91;
}

.section-title {
    color: #000;
    font-size: 30px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;
}

.S {
    display: inline;
    font-weight: bold;
}

/*Responsive*/

@media screen and (max-width: 1690px) {

    .box-main {
        width: 300px;
        height: 400px;
    }

}

@media screen and (max-width: 1350px) {

    .box-grid {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        color: #000;
        position: relative;
    }

    .box-main {
        width: 400px;
        height: 200px;
    }

}

@media screen and (max-width: 900px) {

    .box-grid {
        display: grid;
        grid-template-columns: 100%;
        color: #000;
        position: relative;
    }

}

::-webkit-scrollbar {
    scroll-behavior: smooth;
}